header {
  background: #252525;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header img {
  padding: 38px 0px;
}

.menu {
  align-self: center;
}

.menu ul {
  display: flex;
  gap: 40px;
}

.menu ul li a {
  color: #FFF;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

